.postsMasonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  max-height: 300vh;
}

.postMasonry {
  max-width: calc(50% - 12px);
}
.postMasonry:nth-child(2n) {
  order: 1;
}
.postMasonry:nth-child(2n+1) {
  order: 2;
}

.postMasonry:first-child {
  display: none;
}
